
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>EYP Deutschland Signaturengenerator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="octicons/octicons.css">
    </head>
    <body>
      <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
      <script src="http://localhost:35729/livereload.js" type="text/javascript">

      </script>

      <div id="app" class="container">
        <h1>EYP Deutschland Signaturengenerator</h1>
        <p class="credit"><span class="octicon octicon-code"></span> with <span class="octicon octicon-heart"></span> by <a class="credit" target=_blank href="https://github.com/wolfskaempf">@wolfskaempf</a> and <a class="credit" target=_blank href="https://github.com/rasmuskriest">@rasmuskriest</a></p>
        <h2>Deine Daten</h2>
        <form class="" action="index.html" method="post">
          <label>Vorname </label><input class="form-control" v-model="fname"><br>
          <label>Nachname </label><input class="form-control" v-model="surname"><br>
          <label>Geschlecht (DE)</label><input class="form-control" v-model="genderde"><br>
          <label>Geschlecht (EN)</label><input class="form-control" v-model="genderen"><br>
          <label>Position (DE)</label><input class="form-control" v-model="posde"><br>
          <label>Position (EN)</label><input class="form-control" v-model="posen"><br>
          <label>Sitzungsname (DE)</label><input class="form-control" v-model="sessionde"><br>
          <label>Sitzungsname (EN)</label><input class="form-control" v-model="sessionen"><br>
          <label>Handynummer </label><input class="form-control" v-model="mobilenumber"><br>
          <label>E-Mail </label><input class="form-control" v-model="email"><br>
        </form>
        <h2>Deine Signatur</h2>
        <div class="signature">
      <p>--</p>
      <p>
        {{ fname }} {{ surname }}
        <br />
        {{ posde }} <hyphen v-show="sessionde">—</hyphen> {{ sessionde }}
        <br />
        {{ posen }} <hyphen v-show="sessionen">—</hyphen> {{ sessionen }}
        <br />
        {{ genderde }} | {{ genderen }}
        <br /><br />
        Mobil: {{ mobilenumber }}
        <br />
        E-Mail: <a :href="'mailto:' + email">{{ email }}</a>
      </p>
      <p>
        <address>
          Europäisches Jugendparlament in Deutschland e.V.
          <br />
          MACHWERK in der Alten Münze
          <br />
          Am Krögel 2 | 10179 Berlin
          <br />
          Tel.: +49 (0) 30 62 93 83 28
        </address>
      </p>
      <p>
        <a href="http://www.eyp.de">www.eyp.de</a>
      </p>
        </div>
        <h2>Hilfe</h2>

        <ul>
          <li>
            Im EYP Deutschland Wiki findest du eine <a href="https://sites.google.com/eyp.de/wiki/vereinsportal/kontakte-und-austausch/eyp-mail-adressen" target="_blank">Anleitung</a> dafür, wie du die Signatur in dein E-Mail-Programm einspeichern kannst.
          </li>
          <li>
            Wenn du schon weißt, wo du die Signatur einfügen musst, kannst du sie einfach von oben kopieren und dann einfügen.
          </li>
        </ul>

      </div>
      <script src="app.js"></script>

    </body>
</html>
