/*body {
  font-family: "Helvetica Neue", Helvetica, "Arial", sans-serif;
  font-size:
}

.small {
  font-size: 10px;
}*/

.credit {
  text-decoration: none;
  color: black;
  transition-duration: 200ms;
}

.credit:hover {
  text-decoration: none;
  color: grey;
  transition-duration: 200ms;
}

#app {
  margin-bottom: 50px;
}
